      <div class="page-header">
        <div id="blog-title">
          <h1 class="text-center">
            <a href="{{ site.url }}/">Jeroen Decates</a>
            <br />
            <small>Clinical Psychologist</small>
          </h1>
        </div>
      </div>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/about/">About</a></li>
              <li><a href="/services/">Services</a></li>
              <li><a href="/contact/">Contact</a></li>
              <li><a href="/resources/">Resources</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

