div#blog-title h1 {
  font-size: 50px;
}

div#blog-title h1 a:hover {
  border-bottom: none;
  text-decoration: none;
}

.navbar {
  font-size: 140%;
}

.navbar li {
  padding: 10px;
}

.navbar li i.fa {
  margin-right: 5px;
}

.page-header {
  border-bottom: none;
}

.jumbotron a.call-to-action {
  margin-top: 30px;
  display: block;
}

div.first h2:first-of-type {
  margin-top: 0;
}

div.call-to-action a {
  margin-top: 30px;
  display: inline-block;
}

div.call-to-action span.intro {
  margin-right: 15px;
}

footer {
  padding: 30px;
}
