div#blog-title {
  padding: 35px;
}

div#blog-title h1 {
  font-size: 50px;
}

div#blog-title h1 a:hover {
  border-bottom: none;
  text-decoration: none;
}

.navbar {
  font-size: 140%;
}

.navbar a {
  color: white;
}

#header-wrapper {
  margin-bottom: 30px;
}

.page-header {
  border-bottom: none;
}

.jumbotron {
  background-color: #fafafa;
  padding: 4rem 2rem;
  margin-bottom: 2rem;
}

.jumbotron p.lead {
  font-size: 150%;
}

img.covidsafe.logo {
  width: 150px;
  margin-right: 15px;
}

div.first h2:first-of-type {
  margin-top: 0;
}

div.call-to-action a {
  margin-top: 30px;
  display: inline-block;
}

div.call-to-action span.intro {
  margin-right: 15px;
}

footer {
  padding: 30px;
}
