      <div class="page-header">
        <div id="blog-title" class="text-center">
          <h1 class="display-1">
            <a href="{{ .Site.BaseURL }}/">Jeroen Decates</a>
          </h1>
          <h2 class="text-muted">
            Consultant Clinical Psychologist
          </h2>
        </div>
      </div>

      <div class="container-fluid">
        <nav class="navbar nav-pills navbar-expand-lg navbar-dark bg-dark flex-column flex-sm-row">
          <a class="nav-link flex-sm-fill text-sm-center" href="/about/">
            <i class="far fa-fw fa-lightbulb"></i>
            About
          </a>
          <a class="nav-link flex-sm-fill text-sm-center" href="/services/">
            <i class="fa fa-fw fa-key"></i>
            Services
          </a>
          <a class="nav-link flex-sm-fill text-sm-center" href="/appointments/">
            <i class="far fa-fw fa-paper-plane"></i>
            Appointments
          </a>
          <a class="nav-link flex-sm-fill text-sm-center" href="/groups/">
            <i class="fa fa-fw fa-users"></i>
            Groups
          </a>
        </nav>
      </div><!-- /.container-fluid -->
