      <div class="container-fluid">
        <nav class="navbar nav-pills navbar-expand-lg navbar-dark bg-dark flex-column flex-sm-row">
          <a class="nav-link flex-sm-fill text-sm-center {{ partial "active_nav" (slice . "/about/") }}" href="/about/">
            <i class="far fa-fw fa-lightbulb mr-2"></i>
            About
          </a>
          <a class="nav-link flex-sm-fill text-sm-center {{ partial "active_nav" (slice . "/services/") }}" href="/services/">
            <i class="fa fa-fw fa-key mr-2"></i>
            Services
          </a>
          <a class="nav-link flex-sm-fill text-sm-center {{ partial "active_nav" (slice . "/appointments/") }}" href="/appointments/">
            <i class="far fa-fw fa-paper-plane mr-2"></i>
            Appointments
          </a>
          <a class="nav-link flex-sm-fill text-sm-center {{ partial "active_nav" (slice . "/groups/") }}" href="/groups/">
            <i class="fa fa-fw fa-users mr-2"></i>
            Groups
          </a>
        </nav>
      </div><!-- /.container-fluid -->
