<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include externals.html %}
  </head>
  <body>
    <div class="container">
      {% include header.html %}

      <div id="content" class="page">
        {{ content }}
      </div> <!-- content -->

      <ul class="pager">
        <li class="previous">
          <a href="{{ site.url }}/"><i class="fa fa-arrow-circle-o-left fa-lg"></i> read articles</a>
        </li>
      </ul>

    </div>
    {% if site.url contains "jdpsy.org" %}
    {% include google-analytics.html %}
    {% endif %}
  </body>
</html>
