<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} – Jeroen Decates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include externals.html %}
  </head>
  <body>
    <div class="container">
      <div id="header-wrapper">
        {% include header.html %}
      </div>

      <div id="content">
        {{ content }}
      </div> <!-- content -->

      <footer>
        <p class="text-center">
          &copy; {{ 'now' | date: "%Y" }} Jeroen Decates
        </p>
      </footer>

    </div> <!-- wrapper -->
    {% include google-analytics.html %}
    {% include bootstrap.html %}
  </body>
</html>
